*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

	/* BOOT CSS */

.center{
	margin: 0 auto;
	padding: 0 2%;
	max-width: 1280px;
}

.clear{
	clear: both;
}

.w33{
	padding: 0 10px; 
	width: 33.3%;
}

.w50{
	padding: 0 10px; 
	width: 50%;
}

.left{
	float: left;
}

.right{
	float: right;
}

img{
	width: 100%;
	max-width: 450px;
}

	/* Estilização do Site */

header{
	background-color: #3D437A;
	padding: 20px 0;
}

header .logo{
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
}

header .logo a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

nav.desktop ul{
	position: relative;
	top: 7px;
	list-style-type: none;
}

nav.desktop li{
	font-weight: 300;
	font-size: 15px;
	padding: 0 30px;
	text-transform: uppercase;
	display: inline-block;
}

nav.desktop a{
	color: white;
	text-decoration: none;
}

nav.mobile{
	display: none;
}

section.banner-principal{
	width: 100%;
	height: 600px;
	background-image: url('../images/bg-form.jpg!d');
	background-size: cover;
	position: relative;
}

.overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51,51,51,0.4);
	z-index: 1;
}

section.banner-principal form{
	width: 93%;
	z-index: 2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	max-width: 600px;
}

section.banner-principal form h2{
	color: white;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

section.banner-principal form input[type=email]{
	width: 100%;
	height: 66px;
	padding-left: 8px;
	background-color: white;
	color: #333333;
	font-size: 30px;
	outline: none;
	margin-top: 10px;
	border: 0;
}
section.banner-principal form input[type=submit]{
	width: 100%;
	height: 66px;
	background-color: #00C59E;
	color: white;
	font-size: 22px;
	outline: none;
	margin-top: 10px;
	cursor: pointer;
	border: 0;
}

section.descricao-autor{
	padding: 40px 0;
}

section.descricao-autor h2{
	font-size: 28px;
	color: #444444;
	font-weight: 400;
}

section.descricao-autor p{
	font-size: 16;
	color: #444444;
	margin-top: 10px;
	font-weight: 300;
}

section.especialidades{
	background-color: #E2E2E2;
	padding: 40px 0;
}

section.especialidades h2.title{
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	color: #999999;
}

.box-especialidade{
	margin: 40px 0;
	text-align: center;
	padding: 0 10px;
}

.box-especialidade h3{
	font-size: 39px;
	color: #404580;
}

.box-especialidade h4{
	color: dimgray;
	font-size: 25px;
	font-weight: bold;
}

.box-especialidade p{
	color: #444444;
	margin-top: 10px;
	font-size: 15px;
}

section.extras{
	background-color: #3D437A;
	padding: 40px 0;
}

.depoimentos-container, .servicos-container{
	padding: 0 30px;
}

section.extras .title{
	color: white;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 15px;
}

.depoimento-single{
	padding: 15px 0;
	border-bottom: 1px solid #5056A0;
}

.depoimento-descricao{
	font-weight: 300;
	font-size: 15px;
	color: white;
}

.nome-autor{
	font-size: 15px;
	color: white;
	font-weight: 700;
	margin-top: 15px;
}

.servicos ul{
	margin: 20px 0;
}

.servicos li{
	margin-bottom: 15px;
	font-size: 15px;
	color: white;
	font-weight: 300;
}

footer{
	background-color: #313462;
	padding: 10px 0;
}

footer p{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: white;
}

@media screen and (max-width: 768px){
	.w50{
		padding: 20px;
		width: 100%;
	}

	img{
		display: block;
		margin: 0 auto;
		float: none !important;
	}

	.w33{
		width: 100%;
		padding: 20px;
	}

	.box-especialidade{
		margin: 0;
		padding: 40px 20px;
	}
}

@media screen and (max-width: 700px){
	nav.desktop{
		display: none;
	}

	nav.mobile{
		display: block;
	}

	.btn-mobile{
		font-size: 30px;
		cursor: pointer;
		color: white;
	}

	nav.mobile ul{
		position: absolute;
		left: 0;
		top: 80px;
		z-index: 3;
		display: none;
		text-align: center;
		width: 100%
	}

	nav.mobile li{
		font-weight: 300;
		font-size: 20px;
		display: block;
		background-color: white;
		border-bottom: 1px solid #444444;
		padding: 10px 0;
	}

	nav.mobile li a{
		display: block;
		color: #444444;
		text-decoration: none;
	}
}